.card-container{
    width: 450px;
    background-color: #2e1040;
    border-radius: 10px;
}
.card-body{
    padding: 10px;
    word-wrap: break-word;
    
}
.card-title{
    font-size: 2rem;
    font-weight: bold;
}
.card-desc{
    text-align: justify;
    text-justify: inter-word;
}